#bandeau{
    background-color: #ff0000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenu{
    background-color: #ffa600;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #Texte{
    width: 57.25%;
    padding: 80px;
    position: absolute;
    top:-40px;
    right:165px;
    display: flex;
    color: #0516ff;
    font-size: 20px;
    text-align: justify;
}
#Footer{
    background-color: #00ff00;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Menu{
    background-color: #f700ff;
    padding: 20px;
    height: 220px;
    position: absolute;
    top:65px;
    left:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#MenuB{
    background-color: #00d9ff;
    padding:8px;
    height:160px;
    position: absolute;
    top:325px;
    left:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#BlocsNews{
    background-color: #0105ff;
    padding:40px;
    height:90px;
    position: absolute;
    top:65px;
    right:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Rouge{
    color: red;
    font-size: 30px;
}
#Bleu{
    color: blue;
    font-size: 20px;
}
#Tableau{
position: absolute;
transform: translate(7%, -150%);
width: 25%;
left: 70px;
bottom: 105px;
color: #1aff05;
font-size: 15px;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
#Tableau2{
position: absolute;
transform: translate(7%, -150%);
width: 25%;
left: 300px;
bottom: 105px;
color: #055dff;
font-size: 15px;
}
#Tableau3{
position: absolute;
transform: translate(7%, -150%);
width: 25%;
left: 530px;
bottom: 105px;
color: #1aff05;
font-size: 15px;
}
#Phrase{
    postion: absolute;
    transform: translate(37%, -150%);
    padding:40px;
    height:90px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 215px;
    color: #ff0000;
}
#Phrase2{
    postion: absolute;
    transform: translate(37%, -150%);
    padding:40px;
    height:90px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 445px;
    color: #ff0000;
}