#bandeau{
    background-color: #ff0000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenu{
    background-color: #ffa600;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #Texte{
    width: 57.25%;
    padding: 80px;
    position: absolute;
    top:-40px;
    right:165px;
    display: flex;
    color: #0516ff;
    font-size: 20px;
    text-align: justify;
}
#Footer{
    background-color: #00ff00;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Menu{
    background-color: #f700ff;
    padding: 20px;
    height: 220px;
    position: absolute;
    top:65px;
    left:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#MenuB{
    background-color: #00d9ff;
    padding:8px;
    height:143px;
    position: absolute;
    top:325px;
    left:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#BlocsNews{
    background-color: #0105ff;
    padding:40px;
    height:90px;
    position: absolute;
    top:65px;
    right:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

